@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* Colors */
    --color-primary: #115cde;
    --color-secondary: #000c23;
    --color-accent: #3498db;
    --color-bg: #f3f9fd;
    --color-accent-2: #22bef9;
    --color-accent-3: #ff2674;
    --color-accent-4: #ebedfb; /* light blue */
    --color-accent-5: #edfaff; /* light teal */
    --color-accent-6: #d9ddf8; /* light purple */
    --color-accent-7: #ffeef4; /* light pink */
    --color-grey-1: #444444;
    --color-grey-2: #3a3a3a;
    --color-border: rgba(52, 152, 219, 0.15);
    --box-shadow-1: 0px 0px 10px 0px rgba(182, 204, 243, 0.5);
    /* Fonts */
    --font-nunito-sans: "Nunito Sans", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    /* Sizes */
    --size-xs: 0.75rem; /*    12px  */
    --size-sm: 0.875rem; /*   14px  */
    --size-md: 0.938rem; /*   15px  */
    --size-base: 1rem; /*     16px  */
    --size-lg: 1.125rem; /*   18px  */
    --size-xl: 1.25rem; /*    20px  */
    --size-2xl: 1.5rem; /*    24px  */
    --size-3xl: 1.875rem; /*  30px  */
    --size-4xl: 2.25rem; /*   36px  */
    --size-5xl: 2.5rem; /*    40px  */
    --size-6xl: 3rem; /*      48px  */
    --size-7xl: 3.5rem; /*    56px  */
    --size-8xl: 4rem; /*      64px  */
    --size-9xl: 4.5rem; /*    72px  */
    --size-10xl: 6.25rem; /*  100px */
    --size-11xl: 7.5rem; /*   120px */
}

body {
    font-family: var(--font-inter) !important;
}
h2 {
    font-weight: normal !important;
}
.nav-link:not(.login-btn):hover {
    opacity: 0.75;
}
.dropdown-toggle::after {
    display: none;
}
.login-btn {
    background-color: white;
    width: max-content;
}
.login-btn:hover + no {
    background-color: white !important;
}
.banner {
    background-color: black;
    height: 600px !important;
    color: white;
}
.banner-info-wrapper {
    padding-top: var(--size-10xl) !important;
    padding-bottom: var(--size-10xl) !important;
}
.slider {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: background-image 1s ease-in;
}
.carousel-inner,
.carousel-item {
    width: 100%;
    height: 100%;
}
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-btn {
    color: white;
    border: 1px solid white;
}
.banner-btn:nth-of-type(1):hover {
    background-color: #00897b;
    border-color: #00897b;
}
.banner-btn:nth-of-type(2):hover {
    background-color: #003a72;
    border-color: #003a72;
}
.banner-btn:nth-of-type(3):hover {
    background-color: #512888;
    border-color: #512888;
}
.banner-btn:nth-of-type(4):hover {
    background-color: #4b722d;
    border-color: #4b722d;
}
.banner-btn:nth-of-type(5):hover {
    background-color: #60100b;
    border-color: #60100b;
}
.solution-section {
    background-color: #f9f9f9;
}
.solution-image {
    max-width: 400px;
}
.feature-text-wrapper {
    background-color: #fafcfb;
}
.business-section {
    background-color: #496165;
    padding-top: var(--size-10xl);
    padding-bottom: var(--size-10xl);
}

/* CRM Section */
.box {
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e8e9ed;
    background-size: contain;
    background-repeat: no-repeat;
}
.shape-1 {
    border-top-left-radius: 40px;
}
.shape-2 {
    border-radius: 40px;
}
.shape-3 {
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.shape-4 {
    border-bottom-left-radius: 40px;
}
.shape-5 {
    border-top-right-radius: 40px;
}
.shape-6 {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.shape-7 {
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.box-2,
.box-3,
.box-6,
.box-8,
.box-9,
.box-12,
.box-14,
.box-16,
.box-19,
.box-22,
.box-27,
.box-28,
.box-34,
.box-38,
.box-40,
.box-45,
.box-49,
.box-52,
.box-56,
.box-58,
.box-61,
.box-63,
.box-68,
.box-69 {
    background-color: #496165;
}

.box-2 {
    background-image: url(images/slider/2.webp);
}
.box-4 {
    background-image: url(images/slider/4.webp);
}
.box-6 {
    background-image: url(images/slider/5.webp);
}
.box-8 {
    background-image: url(images/slider/7.webp);
}
.box-10 {
    background-image: url(images/slider/13.webp);
}
.box-12 {
    background-image: url(images/slider/16.webp);
}
.box-15 {
    background-image: url(images/slider/18.webp);
}
.box-28 {
    background-image: url(images/slider/19.webp);
}
.box-30 {
    background-image: url(images/slider/20.webp);
}
.box-42 {
    background-image: url(images/slider/21.webp);
}
.box-43 {
    background-image: url(images/slider/24.webp);
}
.box-55 {
    background-image: url(images/slider/25.webp);
}
.box-59 {
    background-image: url(images/slider/29.webp);
}
.box-62 {
    background-image: url(images/slider/30.webp);
}
.box-65 {
    background-image: url(images/slider/32.webp);
}
.box-67 {
    background-image: url(images/slider/31.webp);
}
.box-70 {
    background-image: url(images/slider/35.webp);
}

/* Pricing Section */
.pricing-section {
    background-color: #f9f9f9;
}
.btn-pricing {
    padding: 12px 40px !important;
}
.btn-restrogreen {
    color: #00897b;
    border: 1px solid #00897b;
}
.btn-restrogreen:hover {
    background-color: #00897b;
    color: white;
}
.btn-retailgo {
    color: #003a72;
    border: 1px solid #003a72;
}
.btn-retailgo:hover {
    background-color: #003a72;
    color: white;
}
.btn-oneoffice {
    color: #512888;
    border: 1px solid #512888;
}
.btn-oneoffice:hover {
    background-color: #512888;
    color: white;
}
.btn-locoshop {
    color: #4b722d;
    border: 1px solid #4b722d;
}
.btn-locoshop:hover {
    background-color: #4b722d;
    color: white;
}
.btn-courtsync {
    color: #60100b;
    border: 1px solid #60100b;
}
.btn-courtsync:hover {
    background-color: #60100b;
    color: white;
}

/* Customer Section */
.customer-section .carousel img {
    width: 184px !important;
    height: max-content;
    background-color: #f3f9fd;
    padding: 10px;
}
.support-icon {
    width: 60px;
    margin: auto;
}
.support-center .col-lg-3:nth-child(1) .card {
    background-color: #4caf50;
    color: white;
}
.support-center .col-lg-3:nth-child(3) .card {
    background-color: #3f51b5;
    color: white;
}

/* Footer */
footer {
    background-color: black;
}
.footer-list li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.356);
    font-size: 14px;
}
.footer-list-link {
    text-decoration: none;
    font-size: 12px !important;
}

.footer-list li a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.contact-list li,
.contact-list li a {
    color: rgba(255, 255, 255, 0.356);
    font-size: 12px;
}
.social-icon {
    color: rgba(255, 255, 255, 0.356);
}
.social-icon:hover {
    color: rgba(255, 255, 255, 0.7);
}
.copyright-text {
    color: rgba(255, 255, 255, 0.356);
    font-size: 12px;
}

@media only screen and (max-width: 576px) {
    .banner {
        height: 100% !important;
    }
    .customer-section .carousel img {
        width: 100% !important;
        padding: 5px;
    }
    .pricing-section .card {
        width: 100% !important;
    }
    .business-img {
        width: 100% !important;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .banner {
        height: 100% !important;
    }
    .customer-section .carousel img {
        width: 100% !important;
        padding: 5px;
    }
    .pricing-section .card {
        width: 100% !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .banner {
        height: 385px !important;
    }
    .customer-section .carousel img {
        width: 100% !important;
        padding: 5px;
    }
}
