@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* Colors */
    --color-primary: #115cde;
    --color-secondary: #000c23;
    --color-accent: #3498db;
    --color-bg: #f3f9fd;
    --color-accent-2: #22bef9;
    --color-accent-3: #ff2674;
    --color-accent-4: #ebedfb; /* light blue */
    --color-accent-5: #edfaff; /* light teal */
    --color-accent-6: #d9ddf8; /* light purple */
    --color-accent-7: #ffeef4; /* light pink */
    --color-grey-1: #444444;
    --color-grey-2: #3a3a3a;
    --color-border: rgba(52, 152, 219, 0.15);
    --box-shadow-1: 0px 0px 10px 0px rgba(182, 204, 243, 0.5);
    /* Fonts */
    --font-nunito-sans: "Nunito Sans", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    /* Sizes */
    --size-xs: 0.75rem; /*    12px  */
    --size-sm: 0.875rem; /*   14px  */
    --size-md: 0.938rem; /*   15px  */
    --size-base: 1rem; /*     16px  */
    --size-lg: 1.125rem; /*   18px  */
    --size-xl: 1.25rem; /*    20px  */
    --size-2xl: 1.5rem; /*    24px  */
    --size-3xl: 1.875rem; /*  30px  */
    --size-4xl: 2.25rem; /*   36px  */
    --size-5xl: 2.5rem; /*    40px  */
    --size-6xl: 3rem; /*      48px  */
    --size-7xl: 3.5rem; /*    56px  */
    --size-8xl: 4rem; /*      64px  */
    --size-9xl: 4.5rem; /*    72px  */
    --size-10xl: 6.25rem; /*  100px */
    --size-11xl: 7.5rem; /*   120px */
}

body {
    font-family: var(--font-inter) !important;
}

.nav-link:not(.login-btn):hover {
    opacity: 0.75;
}
.dropdown-toggle::after {
    display: none;
}
.login-btn {
    background-color: white;
    width: max-content;
}
.login-btn:hover + no {
    background-color: white !important;
}
.banner {
    background-color: black;
    height: 600px !important;
    color: white;
}
.banner-info-wrapper {
    padding-top: var(--size-10xl) !important;
    padding-bottom: var(--size-10xl) !important;
}
.slider {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: background-image 1s ease-in;
}
.carousel-item {
    height: 600px;
}
.banner-btn {
    color: white;
    border: 1px solid white;
}
.banner-btn:nth-of-type(1):hover {
    background-color: #00897b;
    border-color: #00897b;
}
.banner-btn:nth-of-type(2):hover {
    background-color: #003a72;
    border-color: #003a72;
}
.banner-btn:nth-of-type(3):hover {
    background-color: #512888;
    border-color: #512888;
}
.banner-btn:nth-of-type(4):hover {
    background-color: #4b722d;
    border-color: #4b722d;
}
.banner-btn:nth-of-type(5):hover {
    background-color: #60100b;
    border-color: #60100b;
}
.solution-section {
    background-color: #f9f9f9;
}
.feature-text-wrapper {
    background-color: #fafcfb;
}
.business-section {
    background-color: #496165;
    padding-top: var(--size-10xl);
    padding-bottom: var(--size-10xl);
}
